<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Play</ion-title>
  </ion-toolbar>
</ion-header>

<!-- RANDOM CARD  -->
<ion-content>
<ion-list>
  <ion-title>Your Score: {{score}}</ion-title>
  <ion-item>Wins: {{wins}}</ion-item>
  <ion-item>Draws: {{draws}} </ion-item>
  <ion-item>Losses: {{losses}} </ion-item>
</ion-list>



    <ion-row>
      <ion-col col-1></ion-col>
      <ion-col col-10>
        <img src="..\assets\Picture.svg" style="max-width: 100px;">
      </ion-col>
      <ion-col col-1></ion-col>
    </ion-row>
    <ion-card-header>
      <ion-card-title>{{title}}</ion-card-title>
    </ion-card-header>

    <ion-list>
      <ion-item>
        <ion-label>
          <ion-item (click)="playBirth()" [disabled]="disableItem">Year of Birth: {{birthYear}}</ion-item>
          <ion-item (click)="playPower()" [disabled]="disableItem"> Power: {{power}}</ion-item>
        </ion-label>
      </ion-item>
    </ion-list>
  
    <!-- ENEMY CARD -->
    <ion-content>
      <ion-row>
        <ion-col col-1></ion-col>
        <ion-col col-10>
          <img src="..\assets\Picture.svg" style="max-width: 100px;">
        </ion-col>
        <ion-col col-1></ion-col>
      </ion-row>
      <ion-card-header>
        <ion-card-title>{{enemy_title}}</ion-card-title>
      </ion-card-header>
  
      <ion-list>
        <ion-item>
          <ion-label>
            <p>Year of Birth: {{enemy_birthYear}}</p>
            <p> Power: {{enemy_power}}</p>
          </ion-label>
        </ion-item>
      </ion-list>

</ion-content>
