<ion-header>
  <ion-toolbar>
    <ion-title>
      Game
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-list>
    <div class="ion-padding">
      <ion-button routerLink="/play">Play</ion-button>
      <ion-button routerLink="/help">How to Play the Game?</ion-button>
      <ion-button routerLink="/team-game">Team Game</ion-button>
    </div>
    <p>Here you can see all the different cards. By clicking on them you can inspect their attributes.</p>
    <ion-list-header>Cards</ion-list-header>
    <ion-item *ngFor="let item of cards" routerLink="/details/{{item.id}}">
      <ion-avatar slot="start">
        <img src="..\assets\{{item.pictureName}}" style="height: 50px; width: 50px;">
      </ion-avatar>
      <ion-label>
        <h3>{{item.title}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
