<ion-header>
  <ion-toolbar>
    <ion-title>
      Game
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-list>

    <ion-list-header>Heroes</ion-list-header>
    <ion-item *ngFor="let item of cards" routerLink="/details/{{item.id}}">
      <ion-avatar slot="start">
        <img src="..\assets\Picture.svg" style="height: 50px; width: 50px;">
      </ion-avatar>
      <ion-label>
        <h3>{{item.title}}</h3>
        <p>{{item.birthYear}}</p>
      </ion-label>
      <ion-reorder slot="end"></ion-reorder>
    </ion-item>
  </ion-list>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary" routerLink="/add">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
