<ion-header>
  <ion-toolbar>
    <ion-title>
      Game
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-list>

    <ion-list-header>Heroes</ion-list-header>
    <ion-item *ngFor="let item of cards" routerLink="/details/{{item.id}}">
      <ion-avatar slot="start">
        <img src="..\assets\Picture.svg" style="height: 50px; width: 50px;">
      </ion-avatar>
      <ion-label>
        <h3>{{item.title}}</h3>
        <p>{{item.birthYear}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button routerLink="/play">Play</ion-button>
</ion-content>
