<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <ion-row>
      <ion-col col-1></ion-col>
      <ion-col col-10>
        <img src="..\assets\{{pictureName}}" style="max-width: 100px;">
        <ion-card-title>{{title}}</ion-card-title>
        <ion-card-content>Born: {{birthYear}}</ion-card-content>
        <ion-card-content>Power: {{power}}</ion-card-content>
        <ion-card-content>Speed: {{speed}}</ion-card-content>
        <ion-card-content>Wealth: {{wealth}} €</ion-card-content>
      </ion-col>
      <ion-col col-1></ion-col>
    </ion-row>

  </ion-card>
</ion-content>
